@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0 none;
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
    height: 100vh;
    box-sizing: border-box;
}

.pagina-inteira {
    padding: 2% ;
}

.pagina-principal {
    align-items: start;
    display: flex;
}

.logo-alura {
    /* padding: 4% 8% 8% 4%; */
    width: 10%;
    align-items: start;
}

.bloco-digite-texto {
    width: 50%;
    height: 50%;
    padding: 6% 8% 5% 5%;
    text-align: center;
}

#campo-digite-texto {
    background-color: transparent;
    color: #0A3871;
    padding-bottom: 10%;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
}

#campo-digite-texto::placeholder {
    color: #0A3871;
}

#campo-digite-texto:focus {
    border: none;
}

.aviso {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.icone-aviso {
    width: 2.5%;
    height: 2.5%;
}

.frase-aviso {
    margin-left: 1.2%;
    color: gray;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.botoes-principais {
    display: flex;
    justify-content: space-between;
}

.botao-criptografar, .botao-descriptografar {
    border-radius: 24px;
    width: 48%;
    padding: 4% 0%;
    border: solid 2px #343A40;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.botao-criptografar:hover, .botao-descriptografar:hover {
    cursor: pointer;
    background-color: #1E90FF;
    box-shadow: 4px 4px 12px -8 #D8DFE8;
    border: solid 2px #0A3871;
}

.botao-criptografar {
    background-color: #0A3871;
    color: white;
}

.botao-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.bloco-resultado {
    height: 80%;
    width: 20%;
    border-radius: 32px;
    background-color: white;
    padding: 4.5% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 32px -8px;
}

.imagem-procurando-resultados {
    /* padding: 24% 5% 5% 5%; */
}

.caixa-sem-mensagem {
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-bottom: 24%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.msg-nao-encontrada {
    color: #343A40;
    font-size: 1.5rem;
    /* font-weight: 700;
    font-weight: bolder; */
}

.msg-digite-texto {
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
}

.contatos-redes-sociais {
    background-color: #1E90FF;
    padding: 5px 0px 100px 20px;
}

.titulo-contatos {
    padding-top: 50px;
    margin: 30px 15px 20px 15px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #D8DFE8;
}

.rede-social {
    margin: 10px 20px;
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #D8DFE8;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

@media(max-width:1080px) {
    .pagina-principal {
        display: flex;
        flex-direction: column;
    }
}